<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Entrar', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Minha conta', edit_user_registration_path %></li>
<% else %>
  <li><%= link_to 'Cadastre-se', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? &&  can?(:view, User) %>
  <li><%= link_to 'Usuários', users_path %></li>
<% end %>
